<h1>Your cart</h1>


<table>
<tr>
	<th>Product</th>
	<th>Quantity</th>
	<th>Price</th>
</tr>
	<% @cart_items.each do |cart_item| %>
	<tr>
		<td class="product"><%= cart_item.product.name %></td>
		<td><%= cart_item.quantity %></td>
		<td><%= cart_item.product.price %></td>
	</tr>
	<% end %>
</table>	

<%= link_to "Check out", checkout_path %>
