<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="style.css">
		<meta charset="utf-8">
		<title>Betastore</title>
	</head>
	<body>
		<h1>Betastore</h1>
		<table class="cell">
			<tr>
				<td>
					<a href="hat.html">
						<img src="http://pjb3.github.io/betastore/products/hat.jpg">Hat
					</a>
				</td>

				<td>
					<a href="hoodie.html">
						<img src="http://pjb3.github.io/betastore/products/hoodie.jpg">Hoodie
					</a>
				</td>

				<td>
					<a href="iPhone.html">
						<img src="http://pjb3.github.io/betastore/products/iphone_case.jpg">iPhone case
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="journal.html">
						<img src="http://pjb3.github.io/betastore/products/journal.jpg">Journal
					</a>
				</td>
				<td>
					<a href="shirt.html">
						<img src="http://pjb3.github.io/betastore/products/shirt.jpg">Shirt
					</a>
				</td>
				<td>
					<a href="sticker.html">
						<img src="http://pjb3.github.io/betastore/products/sticker.jpg">Sticker
					</a>
				</td>
			</tr>
		</table>
		
	</body>
</html>

